*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
section{
    margin: 0;
    padding: 0;
}
.flx{
    display: flex;
}
.width{
    width: 100%;
}
.bnnr{
    background-image: url(../project/images/donation13.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
}
.bnnr h1{ 
    color: white;
    font-size: 50px;
}
.bnr-txt {
    padding: 200px 350px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: inline-block;
}
.bnr-txt p{
    display: flex;
    margin: 20px 0;
    font-size: 15px;
    font-weight: 100;
}
.donate-bttn{
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #FF5959;
    border-radius: 6px;
    margin-top: 10px;
    display: inline-block;
}


.donate-part {
    text-align: center;
    width: 100%;
}

.dnt-heading {
    text-align: center;
    padding: 70px 350px 20px;
}
.dnt-heading h2{
    font-size: 40px;
}
.dnt-heading p {
    color: #707070;
    font-weight: 300;
    margin: 20px 0;
}

.quick-dnt-box{
    display: flex;
}
#tk-box-slctd{
    background-color: rgba(255, 187, 187, 0.3);
    color: #FF5959 !important;
    border: solid 2px #FF5959;
    font-weight: 700;
    font-size: 25px;
    padding: 35px 15px;
    border-radius: 5px;
}
.txt-box{
    margin-bottom: 50px;
}
.quick-dnt-box{
    margin-left: 370px;
    margin-bottom: 30px;
}
.tk-box {
    padding: 33px 13px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #FAFAFA;
}
.tk-box p{
    color: #707070;
    font-weight: 700;
    font-size: 25px;
}


.ftext{
    border-top: 0;
    border-bottom: solid rgba(156, 156, 156, 0.5) 1px;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

input::placeholder {
    color: red;
}

label,
input {
    font-family: sans-serif;
}



.dnt-plan-part{
    text-align: center;
    padding: auto;
}
.plan-box{
    display: inline-block;
}
.dnt-plan-ttl{
    margin-left: 50px;
}
.dnt-plan-box {
    display: flex;
    width: 80%;
    margin-left: 150px;
    margin-top: 80px;
    text-align: center;
}

.dnt-plan-part h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.dnt-plan-part p {
    font-weight: 600;
    color: #707070;
    margin-bottom: 30px;
}
.plan-box {
    display: inline-block;
    margin: 18px;
    padding: 20px 50px 20px 15px;
    text-align: left;
}
.clr1{
    background-color: rgba(79, 157, 166, 0.2);
}
.clr2{
    background-color: rgba(255, 89, 89, 0.2);
}
.clr3{
    background-color: rgba(255, 244, 214, 0.5);
}
.icon {
    padding-bottom: 30px;
    display: inline-block;
}
.plan-box h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
}
.plan-box p{
    color: #707070;
    font-weight: 400;
}

.get-update-ttle{
    text-align: center;
}
.get-update-ttle h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.get-update-ttle p {
    font-size: 15px;
    color: #707070;
    padding: 15px 0px;
}
.inpt-box {
    padding: 70px 55px;
    text-align: center;
    background-color: #FFF4D6 !important;
    width: 50%;
    margin-left: 350px;
    margin-top: 40px;
    margin-bottom: 130px;
}
.inpt-box .inpt-mail {
    padding: 15px 40px;
    border: 0;
    background-color: #D9D9D9;
    border-radius: 6px 0xp 0xp 6px;
    margin-right: -5px;
}

.inpt-box .inpt-btn {
    padding: 20px 10px;
    padding: 15px 25px;
    background-color: rgb(255, 89, 89);
    border: 0;
    border-radius: 0 6px 6px 0px;
}


footer {
    text-align: center;
    padding: 45px 201px;
    background-color: #0B0D17;
}
footer h4 {
    font-family: 'Permanent Marker', cursive;
    color: #FF5959;
    font-size: 35px;
    font-weight: 400;
}
footer p {
    color: #FAFAFA;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
}